html,body,div,ul,li,p,a,span,label,form,input,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
i,em{
    font-style: normal;
}
input,img{
    outline: none;
}
input,button{
    border: none;
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
button{
    cursor: pointer;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearBoth{
    clear: both;
}
.header{
    width: 100%;
    height: 105px;
    background: url(../images/header_bg.png) no-repeat;
    background-size: cover; 
}
.header_logo{
    width: 517px;
    height: 105px;
    margin: 0 0 0 5%;
}
.header_info{
    height: 25px;
    margin: 40px 5% 40px 0;
}
.header_logout{
    background: url(../images/bg_icon2.png) no-repeat;
    padding: 0 0 0 35px;
    margin: 0 0 0 30px;
}
.header_goHome{
    background: url(../images/bg_icon1.png) no-repeat;
    padding: 0 0 0 35px;
    margin: 0 0 0 30px;
}
.header_logout a,.header_goHome a{
    line-height: 25px;
    font-size: 16px;
    color: #ffffff;
}
.header_user{
    line-height: 25px;
    font-size: 16px;
    color: #ffffff;
}
.content{
    width: 100%;
    min-width: 1000px;
    min-height: 620px;
    overflow: hidden;
}
.content::after{
    content: ' ';
    clear: both;
}
.left_aside{
    width: 230px;
    height: 100%;
    background: #333333;
}
.aside_list{
    width: 230px;
    height: 100%;
}
.aside_list li{
    width: 170px;
    height: 50px;
    border-bottom: 1px solid #42424a;
    padding: 0 0 0 60px;
    color: #ffffff;
    line-height: 50px;
    font-size: 16px;
}
.aside_l1{
    background: url(../images/bg_icon3.png) 14px 15px no-repeat
}
.aside_l2{
    background: url(../images/bg_icon4.png) 14px 16px no-repeat
}
.aside_l3{
    background: url(../images/bg_icon5.png) 12px 12px no-repeat
}
.aside_l4{
    background: url(../images/bg_icon6.png) 17px 15px no-repeat
}
.aside_l5{
    background: url(../images/bg_icon7.png) 16px 17px no-repeat
}
.aside_l6{
    background: url(../images/bg_icon8.png) 15px 15px no-repeat
}
.aside_l7{
    background: url(../images/bg_icon9.png) 15px 15px no-repeat
}
.aside_l8{
    background: url(../images/bg_icon10.png) 15px 15px no-repeat
}
.aside_l9{
    background: url(../images/bg_icon11.png) 16px 16px no-repeat
}
.aside_l10{
    background: url(../images/bg_icon12.png) 14px 15px no-repeat
}
.aside_l11{
    background: url(../images/bg_icon13.png) 16px 18px no-repeat
}
.aside_l12{
    background: url(../images/bg_icon14.png) 16px 17px no-repeat
}
.right_main{
    height: auto;
    padding: 0 30px 30px 30px;
    box-sizing: border-box;
}
.right_tit{
    width: 100%;
    height: 50px;
}
.break{
    margin: 0 0 0 40px;
    height: 50px;
    background: url(../images/house_bg.png) 0 15px no-repeat;
    padding: 0 0 0 30px;
    font-family: "宋体","Microsoft YaHei";
    font-size: 12px;
    line-height: 50px;
    color: #464646;
}
.break a{
    font-family: "宋体","Microsoft YaHei";
    font-size: 12px;
    line-height: 50px;
    color: #464646;
    display: inline-block;
    margin: 0 5px 0 0;
}
.rTit_date{
    height: 50px;
    margin: 0 40px 0 0;
}
.rTit_date span{
    display: inline-block;
    line-height: 50px;
    font-size: 12px;
    color: #464646;
    margin: 0 0 0 40px; 
}
.btn_normal{
    width: 90px;
    height: 30px;
    background-color: #00a9ee;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
}
.btn_failer{
    width: 90px;
    height: 30px;
    background-color: #e29816;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
}
.btn_on{
    width: 90px;
    height: 30px;
    background-color: #16e26a;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
}
.btn_black{
    width: 90px;
    height: 30px;
    background-color: #333333;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
}

.info_confirm{
    width: 100%;
    text-align: center;
    height: 40px;
}
.closeX{
    width: 17px;
    height: 17px;
    background: url(../images/x.png) no-repeat;
    margin: 16px 20px;
}
/*print*/
.print_box{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
.print_c{
    width: 1000px;
    height: 660px;
    top: 100px;
    left: 50%;
    margin: 0 0 0 -500px;
    background: #ffffff;
    position: absolute;
    padding: 0 30px 30px 30px;
    box-sizing: border-box;
}
.print_c h1{
    width: 100%;
    height: 75px;
    line-height: 75px;
    color: #00a9ee;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.print_th{
    width: 100%;
    height: 44px;
    background-color: #00a9ee;
    border-bottom: 1px solid #007aa1;
}
.print_th span{
    line-height: 44px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
}
.print_tb{
    width: 100%;
    height: 450px;
}
.print_tr{
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #c4c4c4;
}
.print_tbn{
    width: 15%;
    height: 44px;
    text-align: left;
    line-height: 44px;
    box-sizing: border-box;
    padding: 0 20px;
}
.print_tbl{
    width: 85%;
    padding: 0 20px;
    height: 44px;
    box-sizing: border-box;
}
.print_tbli{
    margin: 0 15px 0 0;
}
.print_tbli input{
    width: 20px;
    height: 20px;
    margin: 12px 10px 0 0;
}
.print_tbli label{
    line-height: 44px;
    font-size: 12px;
    color: #333333;
}
.print_btn{
    width: 100%;
    height: 35px;
    margin: 20px 0 0 0;
    text-align: center;
}
.print_btn button{
    width: 120px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    margin: 0 20px;
    display: inline-block;
    background-color: #00a9ee;
}