.index_main{
    width: 100%;
    height: 500px;
}
.index_mTit,.sl_mTit{
    width: 100%;
    height: 45px;
    padding: 0 20px;
    box-sizing: border-box;
   
    background: #00a9ee;
}
.index_mTit h1,.sl_mTit h1{
    font-size: 16px;
    line-height: 45px;
    color: #ffffff; 
}
.index_mbox{
    width: 100%;
    height: 455px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    text-align: center;
}
.index_mbox a{
    margin: 110px 100px;
    display: inline-block;
}
.break{
    margin: 0 0 0 40px;
    height: 50px;
    background: url(../images/house_bg.png) 0 15px no-repeat;
    padding: 0 0 0 30px;
    font-family: "宋体","Microsoft YaHei";
    font-size: 12px;
    line-height: 50px;
    color: #464646;
}
.break a{
    font-family: "宋体","Microsoft YaHei";
    font-size: 12px;
    line-height: 50px;
    color: #464646;
    display: inline-block;
    margin: 0 5px 0 0;
}
.rTit_date{
    height: 50px;
    margin: 0 40px 0 0;
}
.rTit_date span{
    display: inline-block;
    line-height: 50px;
    font-size: 12px;
    color: #464646;
    margin: 0 0 0 40px; 
}
.basic_info_box1{
    width: 735px;
    height: 31px;
    margin: 50px auto 30px auto;
}
.basic_info_box2{
    width: 735px;
    height: 31px;
    margin: 0 auto 30px auto;
}
.basic_info_box3{
    width: 735px;
    height: 40px;
    margin: 0 auto;
}
.basic_info_label{
    width: 80px;
    height: 31px;
    line-height: 31px;
    font-size: 14px;
    color: #333333;
    text-align: right;
    margin: 0 10px 0 0;
    display: inline-block;
}
.basic_info_inp1{
    width: 149px;
    height: 24px;
    padding: 3px;
    border-bottom: 1px solid #c4c4c4;
}
.basic_info_inp2{
    width: 394px;
    height: 24px;
    padding: 3px;
    border-bottom: 1px solid #c4c4c4;
}
.basic_info_btn1{
    width: 120px;
    height: 40px;
    margin: 0 20px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 16px;
    background-color: #14d664;
    border-radius: 3px;
    cursor: pointer;
}
