/*顶部*/
.login_header{
    width: 1000px;
    height: 177px;
    margin: 0 auto;
}
/*中间*/
.login_main{
    width: 100%;
    min-width: 1000px;
    height: 562px;
    background: url(../images/login_bg.png) no-repeat;
    background-size: 100% 100%; 
    margin: 0 auto;
}
.login_main_inner{
    width: 1000px;
    height: 562px;
    margin: 0 auto;
}
.login_mPic{
    height: 100%;
}
.login_box{
    width: 320px;
    height: 396px;
    border-top: 3px solid #e54e3b;
    border-bottom: 1px solid #0578af;
    margin: 81px 0;
    padding: 0 30px;
    background-color: #f6f6f6;
}
.login_box h1{
    width: 320px;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    color: #333333;
    font-weight: normal;
    margin: 0 0 10px 0;
}
.login_inp_box{
    width: 277px;
    height: 42px;
    padding: 0 0 0 42px;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    position: relative;
    margin: 0 0 40px 0;
}
.login_username{
    background: url(../images/login_un_bg.png) 0 0 no-repeat;
}
.login_password{
    background: url(../images/login_pw_bg.png) 0 0 no-repeat;
}
.login_inp_box input{
    width: 250px;
    height: 24px;
    padding: 9px 13px;
    font-size: 14px;
}
.login_inp_box label{
    position: absolute;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    left: 55px;
    top: 0;
}
.login_remember_nameb{
    width: 320px;
    height: 20px;
    margin: 0 0 40px 0;
}
.login_remember_nameb input{
    width: 20px;
    height: 20px;
    border: 1px solid #d0d0d0;
    margin: 0 5px 0 0;
}
.login_remember_nameb label{
    font-size: 12px;
    line-height: 20px;
}
.login_submit{
    width: 320px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: #ffffff;
    background-color: #e54e3b;
    font-size: 19px;
    cursor: pointer;
    letter-spacing: 1em;
}
/*底部*/
.login_footer{
    width: 1000px;
    height: 214px;
    margin: 30px auto 0 auto;
}
.login_footer_tit{
    width: 980px;
    height: 114px;
    margin: 0 10px;
}
.login_footer_info{
    width: 1000px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 12px;
}