.content_main{
    width: 100%;
    overflow-y: scroll;
}
.content_mTit{
    width: 100%;
    height: 45px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 45px;
    color: #ffffff;
    background: #00a9ee;
}
/*办案单位资料*/
#badwInfo{
    width: 99%;
    box-sizing: border-box;
    margin: 0 0 30px;
}
.info_box{
    width:100%;
    border: 1px solid #d2d2d2;
    margin: 10px 0 0 0;
    box-sizing: border-box;
}
.info_box_tit{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}
.info_box_number{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #d2d2d2;
    display: inline-block;
}
.info_box_name{
    margin: 0 0 0 30px;
    line-height: 50px;
    font-size: 16px;
    color: #333333;
}
.info_box_name i{
    color: #16e36a;
}
.info_box_cont{
    width: 100%;
    padding: 0 80px;
    background: lightblue;
    box-sizing: border-box;
    clear: both;
}
.info_cz{
    width: 90px;
}
.info_cz button{
    width: 90px;
    height: 30px;
    display: block;
    margin: 10px 0;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
}
.info_cz_print{
    background-color: #00a9ee;
}
.info_cs_replace{
    background-color: #16e26a;
}
.info_list{
    height: auto;
}
.info_list li{
    width: 85px;
    height: 120px;
    margin: 0 20px 20px 0;
    float: left;
}
.info_confirm{
    width: 100%;
    text-align: center;
    height: 40px;
}